#recherche{

    position: relative;

    margin: 0px auto;
    padding:10px;

    text-align: center;

    max-width: 100%;


    /*transform: translateX(-50%);*/
}

#centre{
    display: flex;
    
    min-height: 100vh;
    
    padding: 5px;
}


#grid_gallery{
    
    flex: 1;
    
    justify-content: center;

    padding: 50px;

    
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 100px;

    background-color:rgba(255,255,255, 0.7) ;

}

.grid_item_gallery{

    width: 250px;
    height: 150px;

    margin: 5px;
    
    background-color: black;
}



 #filtre{

    align-self: center;

    display: grid;


    max-width: 110px;
    max-height: 300px;

    
    grid-template-columns: repeat(auto-fill,100px);

    text-align: center;

    gap: 50px;
    padding: 5px;



}

.filtre_item{

    border: grey solid 1px;
    color: white;

}

#filtre a {
    text-decoration: none;
}
