main{
    display: flex;
}

#center_description{

    flex-direction: column;

    flex: 1;

    padding: 10px;

    width: 100%;
}

.preview{

    margin: 0px auto;

    width: 80%;
    height: 50vh;
}

.preview_box{
    
    width: 100%;
    height: 90%;

    background-color: black;
}

.preview_item{

    width: 100%;
    height: 100%;
}

.preview_name{

    color: white;

    padding: 5px;

    background-color: black;

    text-align: center;
    width: 100%;
    height: 10%;
}

.description{

    margin: 0px auto;

    padding: 20px 0px;
    
    width: 80%;

}

.block_text_1{
}