* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body{

    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 100%;
    max-height: 100% ;
}

main{

    background-image: url(Img/E810h.png);
    background-color: white;
    background-repeat: repeat;

    overflow: hidden;

    animation: bganimation 30s infinite linear;

    position: relative;
}

div{
    z-index: 1;
}

.barre{

    justify-self: flex-start;

    background-color: gray;

    min-height: 100vh;
    width: 10%;
    padding: 10px;
}


.menu{

    position: sticky;
    bottom:0% ;
    z-index: 2;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: black;
}

.menu ul li{
    list-style: none;
    display: inline-block;

    padding: 15px 100px;

}

.menu ul li a{
    text-decoration: none;

    color: white;

}

@keyframes bganimation {

    0%{

        background-position-x: 0;

    }

    100%{

        background-position-x: 960px;
    }
    
}
