* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body{

    display: flex;
    flex-direction: column;
    
    min-height: 100vh;

    border-inline: 10px solid; /*Fonction encore expérimental, pas prit en compte par tous les navigateurs.*/
}


.menu{

    position: sticky;

    bottom:0% ;
    
    display: flex;
    flex-direction: row;
    
    background-color: black;

    justify-content: center;
}

.menu ul{

}

.menu ul li{
    list-style: none;
    display: inline-block;

    padding: 15px 100px;

}

.menu ul li a{
    text-decoration: none;

    color: white;

}