#top_head{
    
    background-color: black;
    color: white;

    text-align: center;

    margin: 0px;
    padding: 5px;
}


#presentation{

    min-height: 50vh;

}

.texte{
    text-align: center;
}

.separation_bar{

    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 100px;
}

.reseauSticky{

    position: fixed;

    z-index: 2;

    top: 10%;
    max-width: 5%;
    padding: 10px;


}

.icon{

    max-width: 100%;
    
    margin: 20px 0px;

}

/*Grid setting*/

#grid{
    
    display: grid;

    justify-content: center;

    max-width: 100%;
    gap: 20px;
    
    grid-template-columns: repeat(auto-fill, 400px);


    padding: 20px 0px;

}


.grid_item{

    width: 400px;
    height: 250px;

    background-color:black;
}

#grid a{

    text-decoration: none;
    text-align: center;
    
    color: white;
    background-color:black;
}

