body{

    min-height: 100vh;
    border: 5px solid black;
}

main {
    display: flex;
    
}

.barre{

    display: flex;

    justify-self: flex-start;

    background-color: gray;

    min-height: 100vh;
    width: 10%;
    padding: 10px;
}

#info{

    display: flex;
    flex-direction: column;

    flex: 1;

    max-width: 70%;

    margin: 50px auto 0px;
    padding: 5px;




}


.contact{

    background-color:black;
    color: white;

    min-height: 30%;

    padding: 20px;
    
    
}

.reseau{

    display: grid;
    grid-template-columns: repeat(3,150px);

    margin: 10px auto;
    gap:200px;

    
}
.reseau_item{

    width: 150px;
}