#top_head{
    
    background-color: black;
    color: white;

    text-align: center;

    margin: 0px;
    padding: 5px;
}


#presentation{

    height: 40%;

    background-color: rgba(255, 255, 255, 0.7) ;

}

.texte{
    text-align: center;
}

.separation_bar{

    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 10%
}

.reseauSticky{

    position: fixed;

    z-index: 2;

    top: 10%;
    width: 5%;
    padding: 10px;


}

.icon{

    width: 100%;
    
    margin: 20px 0px;

}

/*Grid setting*/

#grid{
    
    justify-content: center;
    z-index: 0;
    
    display: grid;

    gap: 20px;
    
    grid-template-columns: repeat(auto-fill, 400px);


    padding: 20px 0px;

    background-color: rgba(255, 255, 255, 0.7);
}


.grid_item{

    width: 400px;
    height: 300px;

    background-color:black;

    opacity: 1;
}

#grid a{

    text-decoration: none;
    text-align: center;
    
    color: white;
    background-color:black;
}

