#recherche{


    margin: 0px auto;
    padding:10px;

    text-align: center;

    max-width: 100%;


    /*transform: translateX(-50%);*/
}

#centre{
    display: flex;
    flex-direction: row;

    width: 100%;
    
    padding: 5px;
}


#grid_gallery{
    
    width: 80%;

    padding: 20px;

    
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 100px;

}

.grid_item_gallery{

    width: 250px;
    height: 150px;
    
    background-color: black;
}



 #filtre{

    align-content: flex-start;
    
    font-size: 30px;

    display: grid;

    padding-top: 20px;
    width: 15% ;

    
    grid-template-columns: repeat(auto-fill,100%);

    text-align: center;



}

.filtre_item{


    border: grey solid 1px;
    border-collapse: collapse;

}

#filtre a {
    text-decoration: none;

    color:white;
}
