* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}


body{

    display: flex;
    flex-direction: column;
    position: relative;

    border-inline: 10px solid; /*Fonction encore expérimental, pas prit en compte par tous les navigateurs.*/
    
}


main{


    background-image: url(Img/E810h.png);

    background-size: 100%;
    background-color: white;
    background-repeat: repeat;
    
    animation: wrapbg 30s infinite linear;


    
}

@keyframes wrapbg {

    from { background-position-x: 0px;

    }

    to {
        background-position-x: 960px;
        background-position-y: -1660px;
    }
    
}

.barre{

    justify-self: flex-start;

    background-color: gray;

    height: 100vh;
    width: 10%;
    padding: 10px;
}


.menu{

    position: sticky;
    bottom:0% ;


    background-color: black;
}

.menu ul li{

    list-style: none;
    display: inline-block;



    padding: 15px 100px;

}

.menu ul li a{
    text-decoration: none;

    color: white;

}